.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2
}
.header__body {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 104px
}
.header__logo {
  position: relative;
  z-index: 3;
  flex: 0 0 128px
}
.header__logo svg {
  max-width: 100%;
  display: block
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%
}
.header__menu.active {
  display: block
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2
}
.header__list li {
  list-style: none
}
.header__list li:not(:last-child) {
  margin: 0 48px 0 0
}
.header__authorization li:not(:last-child) {
  margin: 0 10px 0 0
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #121127;
  opacity: .7
}
.header__link:hover {
  color: #444bd3;
  opacity: 1
}
.header__authorization {
  margin-left: auto;
  flex-shrink: 0
}
.header__burger {
  display: none
}
.header__burger span {
  position: absolute;
  left: 0;
  top: 9px;
  background-color: #000;
  width: 100%;
  height: 2px;
  transition: .3s
}
.header__burger::after,
.header__burger::before {
  content: '';
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: .3s
}
.header__burger::before {
  top: 0
}
.header__burger::after {
  bottom: 0
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px
}
.header__burger.active span {
  transform: scale(0)
}
@media (max-width:767px) {
  .header__body {
    justify-content: space-between;
    height: 50px
  }
  .header__logo {
    flex: 0 0 120px
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 70px 10px 20px;
    transition: .3s;
    overflow: auto
  }
  .header__menu.active {
    top: 0
  }
  .header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  .header__list li:not(:last-child) {
    margin: 0 0 20px
  }
  .header__authorization {
    margin-top: 40px
  }
  .header__authorization li:not(:last-child) {
    margin: 0 0 20px
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3
  }
}